# Gemini API
GEMINI_API_KEY=AIzaSyB46gSQHyUZSxiKFYgsL0oP46uIFFtnKVM

# Database
DATABASE_URL=sqlite:///./securelens.db

# Security
JWT_SECRET=I+6wWYN5GEdU6Sp07chUO2KcELntjT1Zh5Kqsz9DFu0WVIOXafd8fHp0NOwkkhA2ekNb30SBJq4cptl1HKTcLQ==
UPLOAD_MAX_SIZE=52428800

# Rate Limiting
MAX_UPLOADS_PER_HOUR=10

